In [1]:
import pandas as pd

In [17]:
test='''
467..114..
...*......
..35..633.
......#...
617*......
.....+.58.
..592.....
......755.
...$.*....
.664.598..
'''
engine_array=[]
for line in test.split('\n'):
        engine_array.append(line.strip())
print(engine_array[1:-1])
engine_array=engine_array[1:-1]

['467..114..', '...*......', '..35..633.', '......#...', '617*......', '.....+.58.', '..592.....', '......755.', '...$.*....', '.664.598..']

In [19]:
def process_string(i,string):
    number_coordinates=[]
    number=''
    for j, letter in enumerate(string):
        if letter.isdigit():
            number_coordinates.append((i,j))
            number=number+letter
    return number_coordinates, number

def process_string(i, string):
    number_coordinates = []
    current_number = ''
    number_coordinates_df=[]
    numbers_df=[]
    
    for j, letter in enumerate(string):
        if letter.isdigit():
            current_number += letter
            number_coordinates.append((i,j))
        elif current_number:
            number_coordinates_df.append(number_coordinates)
            numbers_df.append(current_number)
            current_number = ''
            number_coordinates=[]

    if current_number:
        number_coordinates_df.append(number_coordinates)
        numbers_df.append(current_number)
    return number_coordinates_df,numbers_df
    

def get_number_coordinates(engine_array):
    print(len(engine_array))
    numbers_df=[]
    number_coordinates_df=[]
    for i, string in enumerate(engine_array):
        print(i,string)
        number_coordinates, number = process_string(i,string)
        if number_coordinates:
            number_coordinates_df.append(number_coordinates)
        if number:
            numbers_df.append(number)
    print(len(numbers_df),len(number_coordinates_df))
    print(numbers_df, number_coordinates_df)
    return numbers_df, number_coordinates_df
        
numbers_df, number_coordinates_df=get_number_coordinates(engine_array)

10
0 467..114..
1 ...*......
2 ..35..633.
3 ......#...
4 617*......
5 .....+.58.
6 ..592.....
7 ......755.
8 ...$.*....
9 .664.598..
7 7
[['467', '114'], ['35', '633'], ['617'], ['58'], ['592'], ['755'], ['664', '598']] [[[(0, 0), (0, 1), (0, 2)], [(0, 5), (0, 6), (0, 7)]], [[(2, 2), (2, 3)], [(2, 6), (2, 7), (2, 8)]], [[(4, 0), (4, 1), (4, 2)]], [[(5, 7), (5, 8)]], [[(6, 2), (6, 3), (6, 4)]], [[(7, 6), (7, 7), (7, 8)]], [[(9, 1), (9, 2), (9, 3)], [(9, 5), (9, 6), (9, 7)]]]

In [21]:
def align_numbers_coordinates(numbers_df, number_coordinates_df):
    numbers_column=[]
    number_coordinates_column=[]
    for i, row in enumerate(numbers_df):
        for j, number in enumerate(row):
            numbers_column.append(number)
            number_coordinates_column.append(number_coordinates_df[i][j])
    print(numbers_column, number_coordinates_column)
    df=pd.DataFrame()
    df['numbers']=numbers_column
    df['numbers_coordinates']=number_coordinates_column
    print(df)
    return df

align_numbers_coordinates(numbers_df, number_coordinates_df)

['467', '114', '35', '633', '617', '58', '592', '755', '664', '598'] [[(0, 0), (0, 1), (0, 2)], [(0, 5), (0, 6), (0, 7)], [(2, 2), (2, 3)], [(2, 6), (2, 7), (2, 8)], [(4, 0), (4, 1), (4, 2)], [(5, 7), (5, 8)], [(6, 2), (6, 3), (6, 4)], [(7, 6), (7, 7), (7, 8)], [(9, 1), (9, 2), (9, 3)], [(9, 5), (9, 6), (9, 7)]]
  numbers       numbers_coordinates
0     467  [(0, 0), (0, 1), (0, 2)]
1     114  [(0, 5), (0, 6), (0, 7)]
2      35          [(2, 2), (2, 3)]
3     633  [(2, 6), (2, 7), (2, 8)]
4     617  [(4, 0), (4, 1), (4, 2)]
5      58          [(5, 7), (5, 8)]
6     592  [(6, 2), (6, 3), (6, 4)]
7     755  [(7, 6), (7, 7), (7, 8)]
8     664  [(9, 1), (9, 2), (9, 3)]
9     598  [(9, 5), (9, 6), (9, 7)]

  numbers       numbers_coordinates
0     467  [(0, 0), (0, 1), (0, 2)]
1     114  [(0, 5), (0, 6), (0, 7)]
2      35          [(2, 2), (2, 3)]
3     633  [(2, 6), (2, 7), (2, 8)]
4     617  [(4, 0), (4, 1), (4, 2)]
5      58          [(5, 7), (5, 8)]
6     592  [(6, 2), (6, 3), (6, 4)]
7     755  [(7, 6), (7, 7), (7, 8)]
8     664  [(9, 1), (9, 2), (9, 3)]
9     598  [(9, 5), (9, 6), (9, 7)]